
<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-primary" href="../Usuario/Login">Entrar no Sistema</a>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-success" href="../Usuario/Registrar">Registrar uma Conta</a>
    </div>
</div>