
@{
    ViewData["Title"] = "Menu";
}

<div class="row">

    <div class="col-lg-4 text-center">
        <a href="../Conta/Index">
            <img src="~/images/conta.png" class="imgMenu" />
            <h3>Criar Conta</h3>
        </a>
    </div>

    <div class="col-lg-4 text-center">
        <a href="../PlanoConta/Index">
            <img src="~/images/planocontas.png" class="imgMenu" />
            <h3>Plano de Contas</h3>
        </a>
    </div>

    <div class="col-lg-4 text-center">
        <a href="../Transacao/Index">
            <img src="~/images/registrar_transacao.png" class="imgMenu" />
            <h3>Registrar Transação</h3>
        </a>
    </div>

</div>
<div class="row">

    <div class="col-lg-4 text-center">
        <a href="../Transacao/Extrato">
            <img src="~/images/extrato.png" class="imgMenu" />
            <h3>Extrato</h3>
        </a>
    </div>

    <div class="col-lg-4 text-center">
        <a href="../Transacao/Dashboard">
            <img src="~/images/dashboard.png" class="imgMenu" />
            <h3>Dashboard</h3>
        </a>
    </div>

    <div class="col-lg-4 text-center">
        <a href="../Home/Ajuda">
            <img src="~/images/ajuda.png" class="imgMenu" />
            <h3>Ajuda</h3>
        </a>
    </div>


</div>
